{% extends 'base.html.twig' %}

{% block title %}Hello TodoController!{% endblock %}

{% block body %}

        <p>{{ todo.description }}</p>

        <a href="#" class="btn btn-danger">A faire</a>
      <a href="{{ path('todo_delete', {id:todo.id}) }}" class="btn btn-danger">Delete</a>
        <hr>

{% endblock %}
